.Reseña{

background-color : rgb(255,255,255);
color : rgb(0,140,255);
border-color : rgb(0,160,255);
border-style : solid;
height : 35px;
width : 140px;
border-radius : 3px;
cursor : pointer;
font-size : 14px;
transition : 0.2s;

}

.Reseña:active{

    opacity : 0.7;

}

.Reseña:hover{

background-color : rgb(0,160,255);
color : rgb(255,255,255);
border-color : rgb(0,160,255);

}
.index{

background-color : rgb(255,255,255);
color : rgb(0,140,255);
border-color : rgb(0,160,255);
border-style : solid;
height : 35px;
width : 120px;
border-radius : 3px;
cursor : pointer;
font-size : 14px;
transition : 0.2s;

}

.index:active{

    opacity : 0.7;

}

.index:hover{

background-color : rgb(0,160,255);
color : rgb(255,255,255);
border-color : rgb(0,160,255);

}

.form {
  width: 320px;       
  margin: 0 auto;      
  display: flex;
  flex-direction: column;
  gap: 15px; 

}

.login_mail,
.login_password {
  display: flex;
  align-items: center; 
  width: 100%; 
}

.login_mail label,
.login_password label {
  width: 100px; 
  text-align: right;
  margin-right: 10px;
}

.login_mail input,
.login_password input {
  flex: 1; 
  padding: 6px;
  box-sizing: border-box;

}